* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.calculadora {
    background-color: #22252d;
    width: 100%;
    max-width: 375px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    overflow: hidden;
}

.display {
    min-height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    text-align: right;
    flex: 1 1 0%;
}

.display .input {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 3rem;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
}

.display .operador {
    color: #eb6666;
}

.display .parenteses,
.display .percent {
    color: #eb6666;
}

.operadores {
    background-color: #292d36;
    padding: 1.5rem;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;   
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.operadores .ope {
    position: relative;
    cursor: pointer;
    display: block;
    flex: 1 1 0%;
    height: 0;
    padding-top: 100%;
    background-color: #262933;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 180px;
    transition: 0.4s;
    user-select: none;
}

.operadores .ope span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.operadores .ope:hover {
    border-radius: 1rem;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
}
.ope.acao span {
    color: #26fed7;
}

.ope.ativador span {
    color: #eb6666;
}